.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    width: 300px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    gap: 25px;
}
