:root {
    --main-bg: #F5EEFE;
    --primary: #8818EA;
    --secondary: #F3D779;
    --accent: #9BF056;
    --text: #10031F
}

body {
    background-color: var(--main-bg);
    color: var(--text);
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    width: 300px;
}

nav {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    gap: 25px;
    height: 5vh;
}

nav > button {
    background: none;
    box-shadow: none;
    border: none;
    color: whitesmoke;
}

nav > button:hover {
    color: var(--text);
}

.about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw;
}

.menu-parent-div {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu-list {
    margin: 10px;
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.menu-item {
    margin: 10px;
    background-color: var(--secondary);
    border-radius: 25px;
    padding: 10px;
}

.menu-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}
